.form
{
  position: relative;
background-color: rgba(9,35,47,0.5);
max-width: 470px;
margin-left: auto;
margin-right: auto;
border-color: white;
border-radius: 15px;
}
.form th
{
  text-align: center;
 font-family: 'Ubuntu', sans-serif;
  font-size: 25px;
}
.form td
{
font-family: 'Ubuntu', sans-serif;
  font-size: 20px;  
}
.body
{
  background:red;
  color: white;
font-family: 'Ubuntu', sans-serif;
  font-size: 40px;  

}
.signup
{   background-color: rgba(9,35,47,0.5);
  color:white;
  font-family: 'Pacifico', cursive;
  font-size: 12px;
}
.form input
{
border-color: white;
border-radius: 5px;
background-color: rgba(9,35,47,0.5);
color:white;
font-size: 12px;
padding: 6px;
border-width: 4px;
}










